body{
	font: 14px tahoma,arial,'微软雅黑','Hiragino Sans GB','\5b8b\4f53',sans-serif;
	background: #FFFFFF;
	color:#555;
	min-width: 1200px;
}
input,button{
	font: 14px tahoma,arial,'微软雅黑','Hiragino Sans GB','\5b8b\4f53',sans-serif;
	outline: none;
}
a{
	text-decoration: none;
	color:#555;
}
a:hover{
	text-decoration: underline;
	cursor: pointer;
}
a:active {outline: none;star:expression(this.onFocus=this.blur());}
img{outline: none;}
i,em,b{font-style: normal;}
.hide{ display: none;}
.clear:before, .clear:after {
	content: "";
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	*zoom: 1;
}
.clear{ zoom:1;}
.dian{
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.qfq-pos {
    position: relative;
}
/*头部*/
.qufenqi-home-header{
	width: 100%;
	height: auto;
	background: #fff;
}
.qufenqi-header-top{
	width:100%;
	height: 36px;
	line-height: 36px;
	background: #F2F2F2;
	font-size:12px;
	border-bottom: 1px solid #E5E5E5;
}
.container{
	width: 1200px;
  	margin: 0 auto;
  	text-align: left;
}
.header-border{
	/*border-bottom:1px solid #FF4000;*/
	}
.qfq-left{ float: left;}
.qfq-right{ float: right;}
.qufenqi-header-top a{
	color: #817B72;
	margin:0 15px;
}
.qufenqi-header-search{
	padding: 30px 0 10px 0;
	text-align: left;
	height: 82px;
}
.qufenqi-header-search span{
	margin:0 26px 0 0px;
	color: #999;
}
.qufenqi-header-search #logo{
	display: inline-block;
	padding:0;
	width: 302px;
	height: 65px;
	border: 0;
	cursor: pointer;
	background: url(/assets/image/pc/home/logo.png) no-repeat;
}
.qufenqi-search-box{
	float: left;
	width:556px;
	height:38px;
	border:3px solid #FF4000;
}
.qufenqi-search-box input {
	float: left;
	width:450px;
	height: 38px;
	line-height: 38px\9;
	border:none;
	outline: 0;
	padding-left:10px;
}
.qufenqi-search-box button{
	display: inline-block;
	padding: 0;
	width: 96px;
	height: 40px;
	float: right;
	border: 0;
	cursor: pointer;
	font-size: 16px;
	color:#fff;
	background:#ff4000 url(/assets/image/pc/home/search_btn.png) no-repeat 0 0;
}
.qufenqi-search-right{
	float: right;
	width:103px;
	height: 80px;
	border:1px solid #dfdfdf;
	position: relative;
	text-align: center;
}
.qufenqi-search-right span{
	display: inline-block;
	float: left;
	width:22px;
	margin:0;
	line-height: 14px;
	font-size: 12px;
	padding-top: 4px;
}
.qufenqi-search-right img{float: left; border-left: 1px solid #dfdfdf;width:80px;}
.qufenqi-search-right i{
	display: inline-block;
	width:15px;
	height: 15px;
	line-height: 15px;
	border:1px solid #dfdfdf;
	position: absolute;
	left:-17px;
	top:-1px;
}
.qufenqi-search-right i:hover{cursor: pointer;}
.qufenqi-search-hotSearchings{
    float:left;
    margin-right:15px;
    margin-top:6px
}
.qufenqi-search-hotSearchings2{
    width:100%;
    height:25px;
    overflow:hidden;
}
.qufenqi-search-hotSearchings a{
	font-size: 12px;
    text-decoration: none;
}
.qufenqi-search-hotSearchings a:hover{
    color: #FF4000;
}
.qufenqi-search-hotSearchings font{
    color: #FF4000;
}
.qufenqi-header-nav {
    width: 100%;
    height: 44px;
    text-align: center;
}
/*商品分类导航*/
.qfq-aside-nav {
	float:left;
	width: 210px;
	position: absolute;
	z-index: 100;
	left: 0;
	
}
#qfq-aside-nav1 span{
	color: #fff;
}
.qfq-aside-nav h3{
	width: 210px;
	height: 44px;
	line-height: 44px;
	background-color: #ff4000;
	color: #fff;
	cursor: pointer;
	font-size:14px;
	overflow: hidden;
}
.qfq-aside-nav h3 b{
	float: left;
	display: inline-block;
	width: 20px;
	height: 14px;
	margin: 15px 10px 0 13px;
	vertical-align: -2px;
	background: url(../images/css.png) -72px 0;
}
.qfq-aside-nav h3 span{
	float: left;
}
.qfq-aside-nav h3 i{
	float: left;
	display: inline-block;
	width: 10px;
	height: 6px;
	margin: 19px 10px 0 78px;
	vertical-align: middle;
	background: url(/images/images_new/css.png) -99px 0;
}
.qfq-aside-navbody {
	display: none;
	width:210px;
	height: 100%;
	border-top: none;
	background: #333;
	position: relative;
	z-index: 999999;
}
#qfq-aside-nav2 .qfq-aside-navbody, #qfq-aside-nav1 .qfq-aside-navbody{
	display: block;
	position: relative;
	z-index: 999999;
}
ul.qfq-category-nav li {
 	border-bottom: none;
}
ul.qfq-category-nav li h4{
	height: 79px;
	color: #fff;
	display: block;
	padding:0 16px;
	border-bottom: 1px solid #46474a;
	background: #3a3c3f;
	position: relative;
}
ul.qfq-category-nav li h4.on{ background: #404244;}
ul.qfq-category-nav li h4.on b{
	content: "";
	width: 0;
	height: 0;
	display: block;
	border-style: solid;
	border-width: 8px;
	border-color: transparent #f8f8f8 transparent transparent;
	position: absolute;
	top: 30px;
	right: 0px;
}
ul.qfq-category-nav li h4 a{
	display: inline;
	color:#aaa;
	padding: 0;
	background: none;
	border:none;
	border-top:0px;
	border-bottom:0px;
	height: auto;
	line-height: 22px;
}
ul.qfq-category-nav li h4 a:hover, ul.qfq-category-nav li h4.on a{
	background: none;
	color:#aaa;
	text-decoration: none;
}
ul.qfq-category-nav li h4 .span1{ display:block; font-size: 14px; padding:26px 0 2px 0; color:#fff;}
ul.qfq-category-nav li h4 .span1 a{color:#fff; }
ul.qfq-category-nav li .span1 img{ vertical-align: middle; margin:-2px 9px 0 0;}
ul.qfq-category-nav li h4 span{ display: block; white-space: nowrap; overflow: hidden;}
ul.qfq-category-nav li h4 span a{ margin-right: 10px; font-size: 12px;}
ul.qfq-category-nav li h4 span a:hover{ text-decoration: underline;}
ul.qfq-category-nav li h4 span.sub_tit{height: 22px;}
ul.qfq-category-nav li h4 span.sub_tit a{float: left;}
ul.qfq-category-nav li div {
	display: none;
	position: absolute;
	left: 210px;
	top: 0px;
	width: auto;
	height: 378px;
	padding: 0 10px;
	line-height: 20px;
	overflow: hidden;
	background:rgba(255, 255, 255,0.9)!important;
	filter:Alpha(opacity=90); background:#fff;
	z-index: 99;
	border: none;
	border:1px solid #404244;
	border-left:0px;
}
ul.qfq-category-nav li div a {
	display: inline-block;
	width: 90px;
	padding: 7px 0;
	color: #666;
	font-size: 12px;
	text-align: center;
	/*border-bottom: 1px dotted #cccccc;*/
	position: relative;
}
ul.qfq-category-nav li div a:hover{
	text-decoration: underline;
}
.qfq-main-nav {
    float: right;
    width: 990px;
    height: 40px;
    line-height: 40px;
}
.qfq-main-nav ul{
	padding: 0 0 0 20px;
}
.qfq-main-nav ul li{
	float: left;
	padding: 0 30px;
	position: relative;
}
.qfq-main-nav ul li a{
	color: #333;
	font-size: 16px;
	font-weight:bold;
	text-decoration:none;
}
.qfq-main-nav ul li.current a {
	padding-bottom: 2px;
	color: #ff4000;
	border-bottom: 2px solid #ff4000;
}
.qfq-main-nav span{
	float: right;
}
.qfq-main-nav span:hover{
	cursor: pointer;
}
.qfq-main-nav span b{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(/images/images_new/css.png) -115px 0;
	vertical-align: middle;
	margin-right: 6px;
}
#qfq-mobile {
    position: relative;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}
.qfq-mobile-pic{
	display: none;
	position: absolute;
	right:0;
	top:40px;
	width:408px;
	height: 270px;
	background: #fff;
	z-index: 9;
}
.ic-hot {
    width: 17px;
    height: 17px;
    vertical-align: -2px;
    background: url(/images/images_new/css.png) -235px 0px;
    position: absolute;
    top: 2px;
    right: 0px;
}
.qfq-content-box {
    width: 1200px;
    height: auto;
    margin: 0 auto 0px auto;
}
.aside-sale {
    display: none;
    width: 100%;
    background: #fff5ea;
    color: #ff4000;
    font-size: 18px;
    height: 47px;
    line-height: 47px;
}
.qfq-home-middle{
	width: 100%;
    background: #fff;
}

/*尾部*/
.qufenqi-home-bottom {
    background: #444;
    text-align: center;
}
.link-inner-box{
	width: 1200px;
	height: auto;
	padding: 25px 0;
	margin: 0 auto;
	text-align: left;
}
.link-inner-box .link-block {
	float: left;
	width: 145px;
	padding: 0;
}
.link-inner-box .link-block-big h1{
	font-size: 30px;
	line-height: 16px;
	margin: 0px 0px 10px 0px;
	color: #aaa;
}
.link-inner-box .link-block h3 {
    font-size: 16px;
    line-height: 16px;
    margin: 0 0 15px 0;
    color: #FFF;
}
.link-inner-box .link-block-big p {
  font-size: 14px;
  line-height: 22px;
}
.link-inner-box .link-block ul li {
	margin-bottom: 11px;
	line-height: 11px;
}
.link-inner-box .link-block ul li a {
	color: #aaa;
	font-size: 12px;
}
.link-inner-box .link-block-big {
	float: left;
	width: 192px;
	color: #aaa;
}
.link-inner-box .link-block-big h1 {
	font-size: 30px;
	line-height: 16px;
	margin: 0px 0px 10px 0px;
	color: #aaa;
}
.link-inner-box .link-block-big p{
	font-size: 12px;
	line-height: 18px;
}
.link-inner-box .link-block-big a {
	display: inline-block;
	width: 103px;
	height: 33px;
	line-height: 33px;
	margin-top: 15px;
	background: #bbb;
	color: #666;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	padding: 0;
}
.link-inner-box .link-block-big a b{
	display: inline-block;
	width: 18px;
	height: 16px;
	background: url(/images/images_new/css.png) -199px 0;
	vertical-align: middle;
	margin: 0 6px 0 9px;
}
.qufenqi-foot-box {
    border-top: 1px solid #666666;
    background: #444444;
    margin-top: 40px;
    text-align: left;
    font-size: 12px;
}
.qufenqi-foot-box p, .qufenqi-foot-box p a {
    color: #aaa;
    margin-top: 10px;
    line-height: 20px;
}

/*右侧边栏*/
#qfq-ctrl-fix-bar{
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background-color: #3A3C3F;
    width: 43px;
    z-index: 999;
    padding-top: 268px;
}
#qfq-ctrl-fix-bar #bottom-group{
    position: absolute;
    bottom: 0px;
}
#qfq-ctrl-fix-bar a{
    display: block;
    height: 40px;
    text-align: center;
    vertical-align: bottom;
    padding: 12px 0px;
    border-top: 1px solid #515151;
    color: #CDCDCD;
	font-size:12px;
}
#qfq-ctrl-fix-bar a:hover{
    text-decoration: none;
    color: #FFFFFF;
}
#qfq-ctrl-fix-bar i{
    display: block;
    height: 24px;
    width: 24px;
    margin: 0px auto;
    background: url(/assets/image/pc/index/sprit.png) no-repeat;
}
#qfq-ctrl-fix-bar #user-home i{background-position: -227px -36px;}
#qfq-ctrl-fix-bar #user-home:hover i{background-position: -263px -36px;}
#qfq-ctrl-fix-bar #user-collect i{background-position: -227px -73px;}
#qfq-ctrl-fix-bar #user-collect:hover i{background-position: -263px -73px;}
#qfq-ctrl-fix-bar #user-footmark i{background-position: -227px -114px;}
#qfq-ctrl-fix-bar #user-footmark:hover i{background-position: -263px -114px;}
#qfq-ctrl-fix-bar #app i{background-position: -227px -152px;}
#qfq-ctrl-fix-bar #app:hover i{background-position: -263px -152px;}
#qfq-ctrl-fix-bar #service i{background-position: -227px -186px;}
#qfq-ctrl-fix-bar #service:hover i{background-position: -263px -186px;}
#qfq-ctrl-fix-bar #fix-top i{background-position: -227px -219px;}
#qfq-ctrl-fix-bar #fix-top:hover i{background-position: -263px -219px;}

.code_right {
  left: -208px;
  position: absolute;
  top: 292px;
  display:none;
}
.security .add form{
	margin-top: 60px;
}
.security .add form label{
	float: left;
	width: 240px;
	text-align: right;
}
.security .add form .home select{
	width: 123px;
	margin: 0 10px;
}
.security .add form .home select:nth-of-type(1){
	margin: 0 10px 0 20px;
}
.security .add form .home-detail input{
	width: 490px;
}
.security .add form .home,
.security .add form .home-detail{
	height: 68px;
	line-height: 68px;
}
.security .add form .home i,
.security .add form .home-detail i{
	margin-left: -40px;
}
.security .add form .btn{
	margin-top: 35px;
	margin-bottom: 100px;
}
.security .add form .college,
.security .add form .apartment{
	height: 70px;
	line-height: 70px;
}
.security .add form .college select{
	margin-top: 16px;
	margin-left: 20px;
	width: 288px;
}
.security .add form .apartment i{
	margin-left: -45px;
}
.security .add form .apartment select:nth-of-type(1){
	width: 200px;
	margin: 0 10px 0 20px;
}
.security .add form .apartment select:nth-of-type(2){
	width: 114px;
	margin: 0 10px;
}

/*商品详情页*/
.promotion_span{ float:left; display: inline-block; width:97px; height: 30px; line-height: 30px; text-align: center; color:#fff; background: #ff4000; margin-right:25px;}
.gifts{display: inline-block; margin-right: 25px; position: relative;}
.gifts img{ vertical-align: middle; width:60px; height: 50px; border:1px solid #e2e2e2; margin-right: 8px;}
.layer_text{ display: none; position: absolute; left:0; top:40px; z-index: 99; width:400px; height: 38px; line-height: 38px; background: #f7f7f7; color:#ff4000; padding: 0 18px; border:1px solid #e2e2e2;}
.layer_text:before{content:''; width:16px; height: 11px; position: absolute; left:30px; top:-11px; background: url(/images/images_new/css.png) 0 -332px;}
.shop_number input{
    float: left;
    display: inline-block;
    text-align: center;
    background: #fff;
    border-radius: 0;
}
.shop_number input.minus,.shop_number input.add{
    width:28px;
    height: 28px;
    border:1px solid #a3a3a3;
}
.shop_number input.sum{
    width:36px;
    height: 28px;
    margin:0;
    padding: 0;
    border:none;
    color:#555;
}

/**
 * 确认订单页面样式
 */
.goods{
	width: 1200px;
	margin: 0 auto;
	color: #333333;
}
.goods h3{
	clear: both;
	font-size: 20px;
	margin-top: 36px;
	line-height: 53px;
	border-bottom: 1px solid #dfdfdf;
}
.goods h3 .available{
	font-size: 18px;
	margin-left: 110px;
}
.goods .address{
	float: left;
	margin: 20px 0;
}
.goods .address .site{
	float: left;
	font-size: 14px;
	padding: 10px;
	width: 293px;
	height: 180px;
	box-sizing:border-box;
	margin-right: 9px;
	background-color: #fafafa;
	border: 1px solid #dfdfdf;
}
.goods .address .add_address{
	float: left;
	box-sizing:border-box;
	margin-right: 9px;
}
.goods .address .add_home,.goods .address .add_sch{
	text-align: center;
}
.goods .address .site .img{
	font-weight: bold;
	color: #8c8c8c;
	height: 80px;
	font-size: 70px;
}
.goods .address .site:last-child{
	margin-right: 0;
}
.goods .address .sch{
	border: 1px solid #ff4000;
}
.goods .address .home{
	border: 1px solid #dfdfdf;
}
.goods .address .sch .edit{
	margin-top: 15px;
	border: none;
	color: #333333;
	border: 1px solid #cbcbcb;
	padding: 2px 10px;
	cursor: pointer;
}
.goods .address .home .edit{
	margin-top: 15px;
	border: none;
	color: #333333;
	border: 1px solid #cbcbcb;
	padding: 2px 10px;
	cursor: pointer;
}
.goods .address .home .name{
	width: 205px;
	height: 25px;
	border: none;
	font-size: 14px;
	border: 1px solid #d2d2d2;
	text-align: center;
	border-radius: 3px;
}
.goods .address .site h4{
	font-size: 16px;
	line-height: 34px;
	border-bottom: 1px solid #dfdfdf;
}
.goods .address .site p{
	line-height: 26px;
}
.goods .address .site p:nth-of-type(1){
	margin-top: 6px;
}
.goods .table {
	width: 100%;
	float: left;
	font-size: 14px;
	border: 1px solid #f4f4f4;
}
.goods .table .title{
	width: 100%;
	height: 46px;
	line-height: 46px;
	background-color: #f4f4f4;
	float: left;
}
.goods .table .tit li{
	float: left;
	text-align: center;
	overflow:hidden;
}
.goods .table .tit li:nth-child(1){
	width: 580px;
}
.goods .table .tit li:nth-child(2){
	width: 156px;
}
.goods .table .tit li:nth-child(3){
	width: 153px;
}
.goods .table .tit li:nth-child(4){
	width: 167px;
}
.goods .table .tit li:nth-child(5){
	width: 144px;
}
.goods .table .tr{
	float: left;
	height: 108px;
	line-height: 108px;
	border-bottom: 1px solid #f4f4f4;
}
.goods .table .tr li:nth-child(1) p{
	float: left;
	margin-top: 38px;
	margin-left: 45px;
	width: 350px;
	height: 18px;
	line-height: 18px;
	 word-wrap: break-word;
}
.goods .table .tr .img{
	float: left;
	width: 150px;
	height: 106px;
}
.goods .table .sum{
	width: 100%;
	height: 66px;
	line-height: 66px;
	float: left;
	text-align: right;
	padding-right: 33px;
	box-sizing: border-box;
	border-bottom: 1px solid #f4f4f4;
}
.goods .table .sum b{
	font-weight: normal;
	margin-right: 30px;
}
.goods .table .sum .big{
	font-size: 24px
}
.goods .table .details {
	width: 100%;
	float: left;
	height:auto; /*185px;*/
	padding: 15px 25px 30px 0;
	box-sizing:border-box;
	border-bottom: 1px solid #f4f4f4;
}
.goods .table .details dl{
	float: right;
	line-height: 28px;
	width: 100%;
}
.goods .table .details dt{
	float: right;
}
.goods .table .details dd{
	float: right;
}
._icon{
	background: url(/images/pc/new_2015/icon_03.png) no-repeat;
	width: 15px;
	height: 15px;
	margin-top: 7px;
	margin-right: 10px;
	background-position: -18px 0;
	z-index: 99;
}
.goods .checked .per {
	background-position: 0 0;
}
.goods .per {
	background-position: -18px 0;
}
.goods .table .explain{
	float: left;
	line-height: 76px;
	width: 100%;
	padding: 0 20px;
	font-size: 16px;
	box-sizing: border-box;
	background-color: #fcfcfc;
	display:none;
}
.goods .table .explain .exp a{
	color: #ff4000;
}
.goods .table .explain .quan{
	/*height: 232px;*/
	height:auto;
	min-height:160px;
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
}
.goods .table .explain .quan table{
	margin-top: 20px;
	width: 480px;
	color: #8d8d8d;
	margin-bottom: 15px;
}
.goods .table .explain .quan tr{
	line-height: 30px;
	font-size: 14px;
}
.goods .table .explain .quan td{
	padding: 0 10px;
}
.goods .table .explain .quan td:nth-child(1){
	position: relative;
	padding: 0;
	width: 15px;
}
.goods .table .explain .quan td:nth-child(2){
	padding-left: 25px;
	font-size: 16px;
	color: #333333;
}
.goods .table .explain .quan td:nth-child(1) .pos{
	position: absolute;
	top: 0;
	left: 0;
}
.goods .table .explain .quan .coupons{
	width: 193px;
	height: 35px;
	border: none;
	font-size: 14px;
	padding-left: 10px;
	border: 1px solid #d8d8d8;
}
.goods .table .explain .quan button{
	border: none;
	background-color: #ff4000;
	width: 125px;
	height: 36px;
	line-height: 36px;
	color: #ffffff;
	margin-left: 15px;
}
.goods .table .explain .quan .hint {
  color: #ff4000;
  font-size: 14px;
  line-height: 30px;
  margin-left: 110px;
  margin-top: -20px;
  position: absolute;
}

.goods .pay{
	float: left;
	/*height: 250px;*/
	background-color: #fafafa;
}
.goods .payinfo{
	width: 100%;
	height: 76px;
	line-height: 110px;
	font-size: 14px;
	border-bottom: 1px solid #dfdfdf;
}
.goods .pay{
	padding: 5px 30px;
	box-sizing: border-box;
}
.goods .pay .remind{
	height: 40px;
	line-height: 40px;
}
.goods .pay .remind .re01{
	float: left;
}
.goods .pay .remind .re02{
	float: right;
}
.goods .pay .remind a{
	display: inline-block;
	width: 130px;
	height: 34px;
	line-height: 34px;
	border: 1px solid #ff4000;
	border-radius: 5px;
	text-align: center;
	color: #ff4000;
	font-size: 12px;
}
.goods .pay .remind a:nth-child(1){
	margin-left: 30px;
}
.goods .pay .remind a:nth-child(2){
	margin-left: 8px;
}
.goods .pay tr:nth-child(1){
	float: left;
	line-height: 80px;
}
.goods .pay tr:nth-child(2){
	float: left;
	height: 84px;
}
.goods .pay tr:nth-child(2) td{
	vertical-align: top;
}
.goods .pay tr:nth-child(2) td:nth-child(4):after{
	content:"";
	position: absolute;
	background: url(/images/pc/new_2015/icon_01.png) no-repeat;
	width: 14px;
	height: 8px;
	margin-top: 12px;
	margin-left: -22px;
}
.goods .pay tr:nth-child(2) td:nth-child(4) .list{
	float:left;
	position: absolute;
	width: 168px;
	border: 1px solid #dfdfdf;
	border-radius: 5px;
	margin-left: 155px;
}
.goods .pay tr:nth-child(2) td:nth-child(4) .list li{
	background-color: #e5e5e5;
	color: #666666;
	width: 100%;
	font-size: 14px;
	line-height: 26px;
	text-align: center;
}
.goods .pay td{
	text-align: center;
}
.goods .pay td:nth-child(1){
	position: relative;
	width: 15px;
}
.goods .pay td:nth-child(1) .pos01{
	position: absolute;
	top: 25px;
	left: 10px;
}
.goods .pay td:nth-child(1) .pos02{
	position: absolute;
	top: -4px;
	left: 10px;
}
.goods .pay td:nth-child(2){
	width: 82px;
	padding-left: 30px;
	box-sizing:border-box;
	text-align: left;
}
.goods .pay td:nth-child(3){
	width: 320px;
}
.goods .pay td:nth-child(4){
	width: 400px;
}
.goods .pay td:nth-child(5){
	width: 320px;
	text-align: right;
	line-height: 28px;
}
/*input[type="text"]{
	border: 1px solid #dfdfdf;
	border-radius: 5px;
}*/
.goods .pay .payment{
	width: 94px;
	height: 28px;
	position: static;
	color:#ff4400;
}
.goods .pay .fen{
	width: 168px;
	height: 28px;
}
.goods .pay .fen:after{
	content: "";
	position: absolute;
	background: none;/*url(/images/pc/new_2015/icon_01.png) no-repeat;*/
	width: 14px;
	height: 8px;
}
.goods .payinfo{
	clear: both;
}
.goods .payinfo label{
	float: left;
	color: #333333;
	margin-left: 200px;
}
.goods .payinfo label b{
	float: left;
	margin-top: 48px;
}
.goods .payinfo .paylast{
	float: left;
	margin-left: 520px;
}
.goods .payinfo .convert{
	float: left;
	color: #4b97e3;
}
.goods .payinfo .how{
	color: #4b97e3;
}
.goods .submit{
	width: 125px;
	height: 33px;
	background-color: #ff4000;
	border: none;
	color: #ffffff;
	float: right;
	margin-right: 30px;
}
.goods .all{
	float: left;
	width: 100%;
	height: 100px;
}
.goods .all .money{
	margin: 20px;
	text-align: right;
}
.goods .more{
	margin-top: 30px;
	font-size: 30px;
}
.goods .modify{
	position: absolute;
	z-index: 1;
	width: 788px;
	height: 479px;
	left: 50%;
	margin-left: -389px;
	margin-top: -200px;
	padding: 30px;
	box-sizing: border-box;
	background-color: #fbfaf8;
}
.goods .modify .set{
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #e9e9e9;
}
.goods .spwd{
	margin-top: 10px;
}
.goods .spwd div{
	height: 44px;
	line-height: 44px;
	margin-bottom: 20px;
}
.goods .spwd b{
	float: left;
	width: 200px;
	text-align: right;
}
.goods .spwd input{
	border: none;
	width: 258px;
	height: 40px;
	border: 1px solid #d2d2d2;
	text-align: left;
	padding-left: 10px;
	box-sizing:border-box;
	font-size: 14px;
	background-color: #ffffff;
	margin-left: 25px;
}
.goods .spwd div button{
	border: none;
	font-size: 16px;
	width: 170px;
	height: 40px;
	margin-left: 25px;
	margin-top: 40px;
	color: #ffffff;
	background-color: #ff4000;
}
.goods .spwd div button:last-child{
	background: none;
	border: 1px solid #d2d2d2;
	color: #7a7a7a;
	background-color: #ffffff;
}
.goods .spwd input[type='button']{
	width: 124px;
	height: 38px;
	text-align: center;
	padding: 0;
	border: 1px solid #ff4000;
	color: #ff4000;
	margin-left: 10px;
}
.goods .spwd input.phone{
	width: 340px;
}
.goods .spwd input.verify{
	width: 205px;
}
/*弹层*/
.pop{
	position: fixed;
	top:200px;
	z-index:1;
	margin-top: 20px;
	margin-left: 0px;
	padding: 0 20px;
	box-sizing: border-box;
	border: 1px solid #ededed;
	width: 518px;
	font-size: 14px;
	background-color: #ffffff;
	z-index:9999;
}
.pop02{
	/*margin-left: 640px;*/
}
.pop01{
	height: 320px;
}
.pop ul{
	padding: 10px 20px 20px;
	background-color: #ffffff;
	position: absolute;
	margin-left: 90px;
	border: 1px solid #d2d2d2;
	border-radius: 3px;
	box-sizing: border-box;
	 width: 350px;
    z-index: 99;
}
.pop ul li{
	height: 28px;
	line-height: 28px;
	text-align: center;
	font-size: 16px;
}
.pop .floor{
	margin-top: -8px;
}
.pop .area{
	margin-left: 290px;
	margin-top: -8px;
}
.pop ul li:hover{
	color: #ff4000;
}
.pop .stu,.pop .dorm,.pop .truename{
	height: 48px;
	line-height: 48px;
}
.pop .stu .s{
	position: absolute;
	background: url(/images/pc/new_2015/icon_01.png) no-repeat;
	width: 14px;
	height: 8px;
	margin-left: -20px;
	margin-top: 20px;
}
.pop input{
	margin-top: 6px;
	height: 34px;
	text-align: center;
	width: 352px;
	padding: 5px 10px;
	box-sizing: border-box;
	border: 1px solid #d2d2d2;
	border-radius: 3px;
	margin-left:90px;
}
.pop .dorm input{
	text-align: left;
	width: 152px;
	margin-right: 5px;
}
.pop .dorm .last{
	margin-left: 25px;
	text-align: center;
}
.pop .span{
	float: left;
	width: 85px;
	height: 48px;
	line-height: 48px;
	color: #000000;
	text-align: right;
} .pop ._popInfo{
	  padding-top: 20px;
	  height: 36px;
	  line-height: 36px;
	  border-bottom: 1px solid #e9e9e9;
  }
.pop ._popInfo .close{
	position: absolute;
	width: 12px;
	height: 12px;
	background: url(/images/pc/new_2015/icon_02.png) no-repeat;
	margin-left: 125px;
}
.con .box .pop .stu{
	margin-top: 26px;
}
.floor{
	width: 152px;
}
.area{
	width: 152px;
}
.pop02 .stu input{
	text-align: left;
}
.pop02 .stu ul{
	margin-top: -8px;
}
.pop02 .stu .pr{
	width: 94px;
	margin-left: 90px;
}
.pop02 .stu .ci{
	width: 115px;
	margin-left: 193px;
}
.pop02 .stu .di{
	width: 125px;
	margin-left: 317px;
}
.pop02 .stu input:nth-of-type(1){
	width: 94px;
}
.pop02 .stu input:nth-of-type(2){
	margin-left: 5px;
	width: 115px;
}
.pop02 .stu input:nth-of-type(3){
	margin-left: 5px;
	width: 125px;
}
.pop .btn{
	margin: 20px auto;
	width:355px;
}
.pop .btn button{
	width: 166px;
	height: 38px;
	border: none;
	background-color: #ff4000;
	color: #ffffff;
	font-size: 16px;
	cursor: pointer;
}
.pop .btn input.pop_confirm{
	width: 166px;
	height: 38px;
	border: none;
	background-color: #ff4000;
	color: #ffffff;
	font-size: 16px;
	cursor: pointer;
	margin:0;
	padding:0;
	border-radius:0;
}
.pop .btn ._btn{
	margin-left: 15px;
	border: 1px solid #d5d5d5;
	background-color: #ffffff;
	color: #7a7a7a;
}
/*弹层结束*/

/*遮罩*/
.mask{
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.3);
	top: 0;
	left: 0;
}
.foo{
	height: 100px;
}

/**
 * 下单成功页
 */
.bg{
	background: #fbfaf8;
}

/*a{
	text-decoration: none;
}*/
.con{
	width: 1200px;
	height: 610px;
	margin: 0 auto;
	text-align: center;
	border: 1px solid #d3d3d3;
	background-color: #ffffff;
}
.con h3{
	margin-top: 100px;
	font-size: 36px;
	color: #666666;
}
.con h3:before{
	content: "";
	position: absolute;
	background: url(/images/pc/new_2015/icon_05.png) no-repeat;
	width: 50px;
	height: 50px;
	margin-left: -70px;
}
.con .order{
	font-size: 16px;
	line-height: 75px;
}
.con .order .col{
	color: #ff4000;
}
.con .info{
	margin-top: 10px;
	line-height: 24px;
	padding: 23px 0;
	width: 800px;
	height: auto;
	font-size: 14px;
	margin: 0 auto;
	border: 1px solid #dcdcdc;
}
.con .info .color{
	color: #ff4000;
}
.con .apply{
	margin-top: 56px;
}
.con .apply p:first-child{
	letter-spacing:2px;
}
.con .apply p:nth-child(2){
	text-indent: 5px;
	margin-top: 20px;
}
.con .apply a{
	display: inline-block;
	width: 146px;
	height: 38px;
	text-align: center;
	line-height: 38px;
	border: 1px solid #ff4000;
	color: #ff4000;
	border-radius: 3px;
	margin-right: 58px;
}
.con .apply a:nth-child(2){
	margin-left: 58px;
	margin-right: 0;
}
/*确认订单页新css*/
 .goods .pay tr:nth-child(2) td:nth-child(4) .month_list {
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  float: left;
  margin-left: 150px;
  position: absolute;
  width: 168px;
}
 .goods .pay tr:nth-child(2) td:nth-child(4) .month_list li {
  background-color: #fff;
  color: #666666;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  width: 100%;
  border-bottom:1px solid #dfdfdf;
}
.goods .fenqi {
  background: rgba(0, 0, 0, 0) url("/images/pc/new_2015/icon_03.png") no-repeat scroll 0 0;
  height: 15px;
  margin-right: 10px;
  margin-top: 8px;
  width: 15px;
}
.goods .showquan {
  background: rgba(0, 0, 0, 0) url("/images/pc/new_2015/icon_03.png") no-repeat scroll 0 0;
  height: 15px;
  margin-right: 10px;
  margin-top: 8px;
  width: 15px;
}
.goods .jianmian{
	background: rgba(0, 0, 0, 0) url("/images/pc/new_2015/icon_03.png") no-repeat scroll 0 0;
  height: 15px;
  margin-right: 10px;
  margin-top: 8px;
  width: 15px;
}
/*下单支付密码弹窗*/
 .pocket_window {
  width: 296px;
  position: fixed;
  top: 20px;
  left: 50%;
  margin-left: -148px;
  padding: 15px 0;
  z-index: 1001;
  border-radius: 6px;
  display: block;
  font-size: 15px;
  background: #fff none repeat scroll 0 0;
}
 .pocket_window h2{padding-left: 18px;}
 .window_psw {
  border: 1px solid #bababa;
  border-radius: 3px;
  width: 258px;
  height: 42px;
  margin: 10px 0 0 18px;
  padding-left: 2px;
  background: #fff;
  overflow: hidden;
}
 .window_psw span {
  float: left;
  width: 42px;
  height: 42px;
  line-height: 42px;
  border: none;
  border-right: 1px solid #bababa;
  text-align: center;
}
 #psw_input {
  width: 257px;
  height: 42px;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  text-indent: -200px;
}
 .pocket_window input.cancel {
  display: inline-block;
  width: 123px;
  height: 39px;
  line-height: 39px;
  text-align: center;
  font-size: 15px;
  color: #696a6b;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 0 6px 0 18px;
}
 .pocket_window input.sure, .sure_btn {
  background: #ffae00 none repeat scroll 0 0;
  border: 1px solid #ffae00;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  height: 39px;
  line-height: 39px;
  text-align: center;
  width: 123px;
  margin-left:0;
}
 .layer_back {
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.goods .pop_box{
	width:150px;
	background:#ff5a27;
	color:#fff;
	text-align:center;
	line-height:50px;
	margin:0 auto;
	position:fixed;
	top:200px;
	left:0;
	right:0;
	display:none;
}
.goods .yanbao {
  background: #fff none repeat scroll 0 0;
  line-height: 40px;
  overflow: hidden;
  padding: 0 15px;
  position: relative;
}
.goods .yanbao i {
  color: #0f85ff;
  display: inline-block;
  font-style: normal;
  text-align: center;
}
.goods .yanbao span {
  color: #9e9e9e;
  display: inline-block;
  margin-left: 5px;
}
.goods .yanbao p {
  display: inline-block;
  float: right;
}
.goods .zeng {
  background: #fff none repeat scroll 0 0;
  border-bottom: 1px dashed #e4e4e4;
  line-height: 40px;
  overflow: hidden;
  padding: 0 15px 15px;
  position: relative;
}
.goods .zeng span {
  color: #9e9e9e;
  display: inline-block;
  float: left;
  line-height: 20px;
  margin-left: 5px;
}

/*商品列表页分页样式*/
.listpage {
    clear: both;
    font-size: 16px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    margin: 12px 0;
}
.listpage span {
    background-color: #EC2000;
    border: 1px solid #EC2000;
    color: #fff;
    display: block;
    float: left;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    margin: 0px 3px 0px 0px;
    padding-left: 10px;
    padding-right: 10px;
}
.listpage a {
    background-color: #FFFFFF;
    border: 1px solid #ddd;
    color: #666666;
    display: block;
    float: left;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    margin: 0px 3px 0px 0px;
    padding-left: 12px;
    padding-right: 12px;
}

ul.qfq-shoplist li {
    float: left;
    width: 216px;
    height: 346px;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 0 0 12px 12px;
    position: relative;
    overflow: hidden;
}
ul.qfq-shoplist li b.corner{
	display: inline-block;
    width: 56px;
    height: 65px;
    background: url(/assets/image/pc/index/mianxi.gif?r=2015090101) no-repeat;
    position: absolute;
    left: 10px;
    top: 0px;
    z-index: 9;
}
