@charset "utf-8";
.new_title {
    border-bottom: 2px solid #EEEEEE;
    font-size: 18px;
    margin-bottom: 18px;
    padding: 14px 0;
    position: relative;
}
.cert h3 {
  height:auto;
  line-height:25px;
}
.cert .cert-info .cert-detail .img-info {
  
    margin-top: 30px;
	float:left;
	margin-left:10px;
}
.cert .cert-info .cert-detail .img-info .img-desc {
  width: auto;
}
.cert .cert-info .cert-detail .img-info .img-desc i{
  color:#ff4000;
}
.cert .cert-info .cert-detail .v3-link {
  top: 20px;
}
.cert .cert-info .cert-detail span {
  margin-top: 30px;
}
.cert .cert-info .cert-detail .img-info img {
  margin-right: 20px;
}
.img-info, .img-desc {
    width: 150px;
}
#content {
  background: #fff;
  padding:0 20px 0 20px;
}
.cert {
  overflow: hidden;
  background:#fff;
  
}
.cert .cert-info .process {
  padding-left: 20px;
}
.cert .cert-info .process .apply {
  float: left;
  vertical-align: middle;
  width: 800px;
}
.cert .cert-info .process .cancel {
  margin-right: 20px;
  margin-top: -5px;
}
.cert .cert-info .process {
  /*height: 160px;*/
   border-top: none;
   height: auto;
}
.showStar {
  margin-top:0;
  margin-right: 20px;
}
.pass i{
	width:30px;
	height:25px;
	background:url(../images/mycertify_pass.png)no-repeat center center transparent;
	display:inline-block;
	 margin-top: -5px;
    vertical-align: middle;
}
.showStar .fenshu {
  top: 5px;
}
.cert .cert-info .cert-detail {
  height: 80px;
}
.nopass i{
	width:30px;
	height:25px;
	background:url(../images/mycertify_nopass.png)no-repeat center center transparent;
	display:inline-block;
	 margin-top: -5px;
    vertical-align: middle;
}
.passing i{
	width:30px;
	height:25px;
	background:url(/images/mycertify/mycertify_passcur.png)no-repeat center center transparent;
	display:inline-block;
	 margin-top: -5px;
    vertical-align: middle;
}
.passing{
color:#ff4000 !important;
}
.cert .cert-info .limit, .cert .cert-info .v1, .cert .cert-info .v2, .cert .cert-info .v3 {
    border: 1px solid #DFDFDF;
    float: left;
    margin-bottom: 20px;
    padding: 0 18px;
	
    position: relative;
	padding: 0 0 0 0px;
	width:954px;
}
.wrap{
	padding:20px;
	width:958px;
}
@-moz-document url-prefix() {
	
}
.cert .cert-info .cert-detail .v3-link {
    top: 20px;
}
.cert .cert-info .cert-detail .v3-link {
    background-color: #FF4000;
    color: #FFFFFF;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 23px;
    text-align: center;
    top: 21px;
    width: 130px;
}
.main-container a, #form-bill-stage-apply a, #bill-detail-stage a, #bill-voucher a {
    text-decoration: none;
}
.v1 em{width:22px;height:22px;display:inline-block;margin-right: 10px;vertical-align: middle;float:left;background:url(../images/v1.png) no-repeat center center transparent;}
.v2 em{width:22px;height:22px;display:inline-block;margin-right: 10px;vertical-align: middle;float:left;background:url(../images/v2.png) no-repeat center center transparent;}
.v3 em{width:22px;height:22px;display:inline-block;margin-right: 10px;vertical-align: middle;float:left;background:url(../images/v3.png) no-repeat center center transparent;}
.status1{background:#f8f8f8;}
/*.v1.status1 em{background:url(/images/mycertify/mycertify_v1_pass.png)no-repeat center center transparent;}
.v2.status1 em{background:url(/images/mycertify/mycertify_v2_pass.png)no-repeat center center transparent;}
.v3.status1 em{background:url(/images/mycertify/mycertify_v3_pass.png)no-repeat center center transparent;}*/
.status2{border:2px solid #01d9a3 !important;}
/*.v1.status2 em{background:url(/images/mycertify/mycertify_v1_cur.png)no-repeat center center transparent;}
.v2.status2 em{background:url(/images/mycertify/mycertify_v2_cur.png)no-repeat center center transparent;}
.v3.status2 em{background:url(/images/mycertify/mycertify_v3_cur.png)no-repeat center center transparent;}*/

.status3{border:1px solid #ff4000 !important;}

.getedu{display:none;}
 .status2 .getedu{display:block;}
.getedu i{color:#01d9a3;}
.showStar .currentRating {
  top: -20px;
}
.cert .cert-info .process .apply > img {
    margin-left: 60px;
    margin-bottom: 40px;
}
.cert .cert-info .process .apply {
    width: 880px;
}
.cert .cert-info .process .ready{width:100%;margin-top:0px; line-height:60px; border-top:1px dashed #ddd;}