.security{
	width: auto;
	padding:0 20px 20px 20px;
	color: #333333;
	background: #fff;
	min-height: 376px;
}
.security h1{
	/*margin-top: 10px;*/
	height: 52px;
	line-height: 52px;
	font-size: 18px;
	border-bottom: 1px solid #dfdfdf;
}
/*安全中心*/
.security .details{
	margin-top: 30px;
	font-size: 14px;
}
.security .details li{
	padding: 0 40px;
	margin-bottom: 10px;
	width: 855px;
	line-height: 40px;
	background-color: #f9f9f9;
	border: 1px solid #e5e5e5;
}
.security .details li p{
	display: inline-block;
}
.security .details li p.title{
	width: 200px;
	text-align: left; 
}
.security .details li p.info{
	width: 500px;
	text-align: left; 
}
.security .details li a{
	display:inline-block;
	width: 140px;
	text-align: center;
	color: #ff4000;
	text-decoration: none;
}
/*安全中心-绑定邮箱*/
.security .email{
	margin-top: 60px;
}
.security .email .font-big{
	text-align: center;
	font-size: 18px;
}
.security .email .font-big:before{
	content:"";
	position: absolute;
	background: url(images/icon_03.png) no-repeat;
	width: 47px;
	height: 35px;
	margin-left: -60px;
	margin-top: 3px;
}
.security .email .font-small{
	margin-left: 258px;
	color: #696969;
	font-size: 14px;
	line-height: 24px;
}
.security .email .link{
	float: left;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}
.security .email .link a{
	float: left;
	width: 170px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-left: 258px;
	color: #ffffff;
	background-color: #ff4000;
}
.security .email .remind a{
	color: #ff4000;
	margin-left: 258px;
}
.security .email form .label{
	float: left;
	width: 230px;
	line-height: 38px;
	text-align: right;
}
.security .email form .rnd{
	position: absolute;
	color: #ff4000;
	margin-left: -345px;
	margin-top: 36px;
	line-height: 24px;
}
/* 安全中心-设置/修改支付密码 */
.security .pay{
	margin-top: 40px; 
	margin-left: 90px;
}
.security .pay form .div{
	margin: 40px 0;
}
.security .pay form .div p{
	position: absolute;
	margin-left: 195px;
	width: 286px;
	height: 36px;
	border: 1px solid #d2d2d2;
}
.security .pay form .div .input_css{
	width: 286px;
	height: 36px;
	padding: 0 0 0 20px;
	box-sizing: border-box;
	margin-left: 20px;
	letter-spacing: 30px;
	text-indent: 20px;
}
.security .pay form .div .error{
	position: absolute;
	color: #ff4000;
	margin-left: -330px;
	margin-top: 45px;
}
.security .pay form .div .mb{
	line-height: 36px;
	margin-left: 20px;
}
#btn_code_get{
	padding: 6px 10px 9px;
	margin-bottom: 1px;
	border: 1px solid #ff4000;
	border-radius: 5px;
	margin-left: 10px;
	color: #ff4000;
	cursor: pointer;
}
#btn_code_get.counting{
	color: #cccccc;
	border: 1px solid #cccccc;
}
.warning{
	position: absolute;
	height: 24px;
	line-height: 24px;
	left: 340px;
	top: 50px;
}
.security .pay form .verify{
	margin-top: 10px; 
}
form .verify input{
	width: 225px;
}
.security .pay form .label{
	float: left;
	width: 175px;
	line-height: 36px;
	text-align: right;
}
.security .pay-success,.security .school{
	margin-top: 100px;
	text-align: center;
}
.security .pay-success .message,
.security .school .message{
	font-size: 28px;
	color: #707070;
	letter-spacing: 1px;
	margin-top: 20px;
}
/*安全中心-修改分校区*/
.security .sch,.security .phonemod{
	position: relative;
	padding-top: 20px;
	overflow: hidden;
}
.security .sch form{
	display:inline-block;
	width: 650px;
}
.security .sch form p{
	height: 70px;
	line-height: 70px;
}
.security .sch form .s,.security .sch form .d{
	height: 46px;
	line-height: 46px;
}
.security form i{
	position: absolute;
	background: url(/images/pc/new_2015/icon_01.png) no-repeat;
	width: 14px;
	height: 8px;
	margin-top: 30px;
	margin-left: -35px;
}
.security .sch form .img{
	height: 160px;
	padding-top: 10px;
}
.security .sch form .photo{
	float: left;
	width: 193px;
	height: 113px;
	margin-left: 15px;
}
.security .sch form p .label,
.security .sch form .img .label{
	float: left;
	width: 170px;
	text-align: right;
}
.security .sch form .img .file{
	float: left;
	text-align: center;
	background-color: #f4f4f4;
	width: 193px;
	height: 112px;
	border-radius: 5px;
	overflow: hidden;
	margin-left: 20px;
}
.security .sch form .img-upload-container{
	height: 100%;
	width: 100%;
	display: inline-block;
	overflow: hidden;
	border: 1px dotted #F4F4F4;
}
.security .sch form .img-upload-container .preview{
	width: 100%;
	height: 100%;
	display: block;
}
.security .sch form .img-upload-container .browser{
	opacity: 0;
	filter:alpha(opacity=0);
	height: 0px;
	width: 0px;
	margin: 0px;
	padding: 0px;
	border: none;
	position: absolute;
}
.security .sch form .img .file .text{
	margin-left: -13px;
	margin-top: 5px;
}
.security .sch form .items .label{
	width: 170px;
	float: left;
	text-align: right;
}
.security .sch form .items .files{
	float: left;
	text-align: center;
	background-color: #f4f4f4;
	width: 193px;
	height: 230px;
	border-radius: 5px;
	overflow: hidden;
	margin-left: 20px;
}
.security .sch form .items .files .f{
	position: absolute;
	top: 0;
	left: 0;
}

.security .sch form .items .idea{
	height: 24px;
	line-height: 24px;
	margin-left: 190px;
}
.security .sch form .items .photo{
	width: 193px;
	height: 230px;
	margin-left: 15px;
}

input[type='file']{
	position: absolute;
	opacity: 0;
	border: none;
	width: 193px;
	height: 113px; 
}
input.text,input.input_css{
	width: 310px;
	padding-left: 10px;
	height: 36px;
	border-radius: 5px;
	border: 1px solid #d2d2d2;
	font-size: 14px;
	margin-left: 20px;
	color: #333333;
	vertical-align: middle;
}
input[type='submit'],input.submit{
	border: none;
	width: 170px;
	height: 38px;
	margin-left: 20px;
	color: #ffffff;
	outline: none;
	background-color: #ff4000; 
	margin-top:40px;
}
input[type='reset'],input.reset{
	width: 170px;
	height: 38px;
	color: #7a7a7a;
	margin-left: 20px;
	border: 1px solid #d2d2d2;
	background-color: #ffffff;
}
select{
	background: transparent;
	height: 36px;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #d2d2d2;
	-webkit-appearance: none;/*去除select样式的下三角*/
	-moz-appearance: none;
}
.security .add .itm{
	height: 70px;
	line-height: 70px;
}
.security .add .itm select{
	width: 100px;
	margin: 0 10px;
}
.security .add .itm select#province{
	margin-left: 20px;
}
.security .sch form .ads{
	line-height: 70px;
	height: 70px;
}
.security .sch form .ads .label{
	width: 170px;
	line-height: 70px;
	float: left;
	margin-right: 20px;
	text-align: right;
}
.security .sch form .ads .input_css{
	margin-left: 0;
	width: 286px;
}
.security .sch form .address select{
	width: 103px;
	margin-right: 12px;
	margin-left: 10px;
}
.security .sch form .address select#province{
	margin-left: 20px;
	width: 115px;
}
.security .sch form .address .remind,
.security .sch form .dorms .remind{
	position: absolute;
	margin-top: 54px;
}
.security .sch form .address .remind{
	margin-left: -440px;
}
.security .sch form .dorm select#select-dorm{
	margin: 0 10px 0 20px;
	width: 103px;
}
.security .sch form .dorm select#select-floor{
	width: 103px;
	margin: 0 10px;
}
.security .sch form .dorms .remind{
	margin-left: -426px; 
}
.security .sch form .dorms input{
	width: 406px;
}
.security .sch form .last{
	height: 120px;
	line-height: 120px;
}
.security .sch .right{
	display:inline-block;
	vertical-align: top;
	margin-top: 173px;
	padding-left: 30px;
	height: 622px;
	border-left: 1px solid #dfdfdf;
	width: 274px;
}
.security .sch .right .img-right{
	margin-top: 10px;
	width: 229px;
	height: 158px;
	border-radius: 5px;
	overflow: hidden;
}

/*修改手机号码*/
.security .phonemod .label{
	float: left;
	width: 330px;
	text-align: right;
}
.security .phonemod .original{
	margin-top: 40px;
	margin-bottom: 10px;
}
.security .phonemod .original input{
	margin-top: 12px;
}
.security .phonemod .verfy{
	margin-top: 15px;
}
.security .phonemod .verfy input{
	width: 203px;
}
.security .phonemod .original,.security .phonemod .verfy{
	position: relative;
	height: 60px;
	line-height: 60px;
}
.security .btns{
	margin: 20px 0;
}
.security .phonemod .service{
	float: left;
	margin-top: 90px;
}
.security .sch form .home-detail input{
	width: 426px;
}
.security .sch form .btns .label,
.security .sch form .home-detail .label{
	float: left;
	width: 170px;
	height: 68px;
	line-height: 68px;
	text-align: right;
}
.security .sch form .home-detail{
	height: 68px;
	line-height: 68px;
}
.security .sch form .home-detail i{
	margin-left: -40px;
}
.security .sch form .span{
	color: #ff4000;
	font-size: 14px;
	height: 24px;
	line-height: 24px;
}
.security .sch form .dorm .span,
.security .sch form .verify .span{
	position: absolute;
	margin-top: 54px;
	left: 250px;
}
.security .sch form .img .span,
.security .sch form .items .span{
	margin-left: 190px;
}