<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>个人中心_分期乐-深受全国大学生喜爱的分期购物商城</title>
        <meta name="keywords" content="分期乐,分期付款,大学生分期,分期购物,电脑分期付款,手机分期付款,相机分期付款,fenqile" />
<meta name="description" content="分期乐是国内首家面向大学生提供分期消费的金融服务平台，购买商品首付月供全网最低，还款超低手续费，支持网银、支付宝、财付通支付，办理分期仅需提供身份证及学生证；平台提供的手机、电脑、相机等商品均来自京东、易迅直供，100%正品行货。" />
        <link href="http://www.fenqile.com/res/css/global/global.css?v=86a6d3f2e110dcdc541911b20a939a6b" rel="stylesheet" media="screen">
        <link href="http://www.fenqile.com/res/css/individual/individual.css?v=dfcdc6c279ccf6dd7594fd5865052385" rel="stylesheet" media="screen">
    </head>
    <body class="body-c-eb">
                <div class="new-yellow-tips">
        <div class="head-wrap container">亲爱的小伙伴，由于国庆节放假，部分商品发货受物流速度影响可能出现1-3天延迟，敬请原谅。</div>
    </div>
<header data-now-year="2015" data-now-month="09" data-now-day="30">
        <!--header+start开学活动banner显示-->
    <div class="header start">
        <div class="top">
            <div class="container fn-clear">
                <div class="fn-left">欢迎来到深受全国大学生喜爱的分期购物商城！</div>
                <div class="fn-right top-icon">
                    <a target="_blank" href="http://www.fenqile.com/intro/novice.html">新人享五折</a>
                    <a target="_blank" href="http://b.fenqile.com">商家服务</a>
                    <a target="_blank" href="http://www.fenqile.com/help/index.html">帮助中心</a>
                    <a target="_blank" href="http://www.fenqile.com/intro/detail.html">分期介绍</a><span class="line">|</span><a style="color:red;" href="###" class="js-g-report-price">举报有奖</a>
                </div>
            </div>
        </div>
        <!--开学预热banner-->
        <div class="c-top-banner">
            <div class="container">
                <a href="http://sale.fenqile.com/2015080401/index.html?_DTAG=92A7331-6E458AD" class="btn-ql">
                    <span>立即领取</span>
                </a>
                <a href="http://sale.fenqile.com/2015080401/index.html?_DTAG=92A7331-6E458AD" class="btn-buy">
                    <span>9月1日开抢</span>
                </a>
            </div>
        </div>
        <!--开学活动banner-->
        <div class="c-top-banner2" style="background-image: url(http://cres.fenqile.com/res/img/banner/index/45.jpg?v=20150925);">
            <div class="container">
                <a href="http://sale.fenqile.com/2015092301/index.html?_DTAG=D8A7331-B705659" target="_blank" class="btn-ql">
                    <span>立即参加</span>
                </a>
                <a href="http://sale.fenqile.com/2015091101/index.html" target="_blank" class="btn-buy">
                    <span>立即购买</span>
                </a>
                <a href="http://www.fenqile.com/product/limited_sale.html?_DTAG=F2A7331-CB6E846" class="btn-bqg">
                    <span>立即抢购</span>
                </a>
            </div>
        </div>
                <div class="logo-search">
            <div class="container fn-clear">
                <div class="">
                    <a class="logo" href="/"></a>
                    <!-- <a class="logo" href="/"><img src="http://cres.fenqile.com/res/img/spring/logo.png" width="231" height="33" title="分期乐" alt="分期乐" ></a> -->
                    <div class="logo-text">
                        <p class="logo-text-p logo-text-p1">轻松买，随时还</p>
                    </div>
                </div>
                <div class="fn-right">
                    <div class="header-search">
                        <form action="/product/search.html" method="get">
                            <div class="fn-left"><input type="text" name="q" value="" class="header-search-text" autocomplete="off" placeholder="输入商品关键字"></div>
                            <button type="submit" class="header-sarch-btn"></button>
                        {$hidden_value}</form>
                    </div>
                    <div class="hearder-b-text">
                                                                                    <a target="_blank" href="http://sale.fenqile.com/2015090201/index.html?_DTAG=F2A7331-E06963F">iPhone 6</a>
                                                            <a target="_blank" href="http://www.fenqile.com/product/search.html?q=mx5">魅族</a>
                                                            <a target="_blank" href="http://www.fenqile.com/product/179/180/269/0/0/0/0/list.html">耐克</a>
                                                            <a target="_blank" href="http://sale.fenqile.com/2015070401/index.html">小米</a>
                                                            <a target="_blank" href="http://www.fenqile.com/product/beauty/list.html#!/0/256">香奈儿</a>
                                                            <a target="_blank" href="http://www.fenqile.com/product/detail/S20150728019427.html">一加2</a>
                                                            <a target="_blank" href="http://www.fenqile.com/product/watch/list.html#!/0/250">天梭</a>
                                                            <a target="_blank" href="http://www.fenqile.com/product/shoes/list.html#!/0/262">蔻驰</a>
                                                                        </div>
                </div>
                <!--预热活动-->
                <i class="i-l"></i>
                <i class="i-m"></i>
                <i class="i-r"></i>
                <!--<img class="icon-flash" src="http://cres.fenqile.com/res/img/index/ico.gif" width="201" height="102" title="分期乐" alt="分期乐">-->
                <a href="http://www.fenqile.com/product/limited_sale.html?_DTAG=F2A7331-CB6E846"><img class="icon-flash-iphone" src="http://cres.fenqile.com/res/img/banner/index/ico1.gif?v=20150906" width="154" height="64" title="分期乐" alt="分期乐"></a>
            </div>
        </div>
    </div>
</header>
        <nav>
    <div class="nav">
        <div class="container fn-pr fn-clear">
                        <ul class="main-nav">
                <li><a class="index" href="/" title="">首页</a></li>
                <li><a class="digital" href="/product/index.html" title="">分期购物</a></li>
                <li><a class="money" href="/cash/intro.html" title="">信用消费</a></li>
                <li><a class="huitime" href="/product/limited_sale.html" title="">限时惠</a><img class="i-hot" width="28" height="14" src="/res/img/global/hot.png"><li>
                <li><span class="line"></span><a class="mobile" href="/intro/app.html" title="">APP下载</a></li>
                <li><a class="work" href="http://zhaopin.fenqile.com/#campus" title="">勤工俭学</a></li>
            </ul>
            <span class="ball"></span>
            <div id="my_nav_guide"></div>        </div>
    </div>
</nav>        <main>
            <!-- 个人中心 -->
            <div class="container fn-pr  fn-clear">
                <h2 class="aside-nav-h2"><span class="aside-nav-individual-ico"></span></h2>
                <div class="individual">
                    <!-- 左边导航 -->
                    
    <div class="aside-nav aside-nav-individual">
        <div class="individual-face">
            <div class="individual-face-ov">
                <div class="i-individual-mask"></div>
                <img src="http://cres.fenqile.com/res/img/global/face.png" width="74" height="74">
            </div>
            <p>
                                                下午好！
                            </p>
        </div>
        <div class="aside-nav-body">
            <ul class=""><!-- 移上去或选中时给li 加上 on -->
                <li class="on"><a href="/my/index.html" title=""><i class="i-indiv"></i>个人中心</a></li>
                <li><a href="/my/safe.html" title=""><i class="i-safe"></i>安全中心</a></li>
                <li><a href="/my/order.html" title=""><i class="i-order"></i>我的订单</a></li>
                <li><a href="/my/bill.html" title=""><i class="i-bill"></i>我的账单</a></li>
                <li><a href="/my/experience.html" title=""><i class="i-gold"></i>免息额度</a></li>
                <li><a href="/my/coupon.html" title=""><i class="i-cash"></i>我的优惠券</a></li>
                <li><a href="/my/book.html" title=""><i class="i-dock"></i>我的预订</a></li>
                <li><a href="/my/favorite.html" title=""><i class="i-add"></i>我的收藏</a></li>
                <li><a href="/my/advice.html" title=""><i class="i-con"></i>我的咨询</a></li>
                <li><a href="/my/refund.html" title=""><i class="i-ti"></i>替他人还款</a></li>
            </ul>
        </div>
    </div>
                    <!-- 左边导航 -->
                    <div class="individual-main">
                        
                        <div class="individual-info fn-clear">
                            <div class="fn-left individual-text">
                                <p class="individual-text-name"><strong>刘磊</strong>784139247@qq.com</p>
                                <p>
                                    哈尔滨师范大学                                    <span class="line">|</span>
                                                                    </p>
                                <div>
                                    <i class="i-i-phone i-i-phone-on" role="tips" data-position="left" data-content="您已绑定手机132******08"></i>
                                    <i class="i-i-card" role="tips" data-position="left" data-content="您还未添加银行卡"></i>
                                    <i class="i-i-idcard" role="tips" data-position="left" data-content="您的账户信息未认证"></i>
                                    <i class="i-i-password i-i-password-on" role="tips" data-position="left" data-content="您的交易密码已设置 <a href='/my/safe.html'>管理</a>"></i>
                                </div>
                            </div>
                            <div class="fn-right individual-money">
                                                                <div class="jdh-active">
                                    <div class="num fn-text-center">您账户预计可获得信用总额：<span class="fn-rmb c-red">&yen;<strong>3000</strong><sup>+</sup></span></div>
                                    <div class="action">
                                                                                                                                    提升信用额度，<a href="/order/info/100/active.html">立即开通</a>
                                                                                                                                                                                                        </div>
                                </div>
                                                                <script id="tpl_process" type="x-template">
                                    <table class="my-jdh-table">
                                        <thead>
                                            <tr>
                                                <th class="td1">处理时间</th>
                                                <th>处理信息</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for (var i = 0, len = list.length; i < len; i++) { %>
                                            <tr>
                                                <td class="td1"><%=list[i]['msg_time']%></td>
                                                <td><%=list[i]['content']%></td>
                                            </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </script>
                            <a href="/cash/intro.html" class="individual-money-btn op-hover"><span>取现</span></a>
                            </div>
                        </div>
                        <div class="individual-body">
                                                        <!-- [[账单 -->
                                <!--[[当期逾期汇总-->
                                                                <!--当期逾期汇总]]-->
                                <!-- [[本期、下期账单 -->
                                                                    <div class="my-empty">
    <i class="i-no-bill"></i>
    <p>暂时没有账单哦！</p>
</div>                                                                <!-- 本期、下期账单]] -->
                            <!-- 账单]] -->
                                                    </div>
                    </div>
                </div>
            </div>
            <!-- 个人中心 -->
        </main>
        <!-- 撤销关单弹层内容 -->
        <script id="tmpl_cancel_close_order" type="text/x-tmpl">
            <div class="tipbox">
                <div class="tipbox-icon"> <i class="i-warn" title="提示"></i></div>
                <div class="tipbox-content order-tipbox-content">
                   <h3 class="tipbox-title">确定要撤销关单吗？</h3>
                    <p class="tipbox-explain">如有疑问，请联系客服：400-005-9151</p>
                </div>
            </div>
        </script>
        <footer>
    <div class="footer">
        <div class="container fn-clear">
            <div class="fn-left">
                <a href="/" class="footer-logo"></a>
                <a href="https://search.szfw.org/cert/l/CX20141112008657008753" target="_blank" class="footer-ico-cx"></a>
            </div>
            <div class="fn-left">
                <a href="/intro/about.html">关于我们</a><span class="line">|</span><a href="/intro/about.html#contact">联系我们</a><span class="line">|</span><a href="###" class="js-g-report-price">我要举报</a><span class="line">|</span><a href="http://zhaopin.fenqile.com/">加入我们</a><span class="line">|</span><a href="http://sale.fenqile.com/event/detail.html?act=20140825" target="_blank">上门自提</a>
                &nbsp;&nbsp;<a href="http://www.miibeian.gov.cn/" target="_blank">粤ICP备14041530号-1</a>&nbsp;&nbsp;<a href="/intro/icp.html" target="_blank"> 增值电信业务经营许可证B2-20140262</a><br>Copyright © 2013-2015 Fenqile All Rights Reserved 分期乐公司 版权所有<p></p>
            </div>
            <div class="fn-right">
                <div class="fn-right">
                    <script id="ebsgovicon" src="http://szcert.ebs.org.cn/govicon.js?id=e2530f78-693c-4abf-b9a5-0a9259209b6d&width=41&height=56&type=1" type="text/javascript" charset="utf-8"></script>
                </div>
                <div class="fn-right footer-phone">
                    <p>客服电话：<span>400 005 9151</span></p>
                    客服邮箱：service@service.fenqile.com
                </div>
            </div>
        </div>
    </div>
    </footer>
<script>
    function G_NAV_GUIDE_CALLBACK(o) {
        var retcode = o.retcode,
            retmsg  = o.retmsg;
        if (0 == retcode) {
            var node = document.getElementById("my_nav_guide");
            if(node){
                node.innerHTML = o.html;
            }
        }
    }
</script>
<script src="/my/nav_guide.jsonp?jsonp_callback=G_NAV_GUIDE_CALLBACK"></script>
<script type="text/javascript">var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ffdfea51f5530d9b1730875677c8b0ca8' type='text/javascript'%3E%3C/script%3E"));</script>
        <script>document.domain="fenqile.com";</script>
<script charset="utf-8" type="text/javascript" src="http://www.fenqile.com/merge/??/libs/seajs/2.2.1/sea.js?v=ee1067433616cbec3e47a7752604ef75,/libs/jquery/1.9.1/jquery.min.js,/static/global/fenqile.js"></script>
<script>
seajs.use('login', function (login) {
    if ($('body').hasClass('aside-show-ico')) {
        $('#category_nav').parents('div.aside-nav').hover(function(e) {
            $('#category_nav').parents('div.aside-nav').stop();
            $('#category_nav').parents('div.aside-nav').animate({
                height: 418
            }, 300);
        }, function(e) {
            $('#category_nav').parents('div.aside-nav').stop();
            $('#category_nav').parents('div.aside-nav').animate({
                height: 37
            }, 300);
        });
    }

    $('.js-login').on('click', function (e) {
        e.preventDefault();
        login.show({
            scene: 'default'
        });
    });

    $('#mini').hover(function () {
        if ($(this).find('.global-load-ico').size() > 0) {
            $.get('/my/get_mini.json', '', function (o) {
                var retcode = o.retcode,
                    retmsg  = o.retmsg;
                if (0 == retcode) {
                    var html = o.html;
                    $('#mini_content').html(html);
                } else {
                    $('#mini_content').html('[' + retcode + ']' + retmsg);
                }
            });
        }
    });
});
</script>        <script>
            var G_IS_SET_BILL_DAY = true;
            var G_POCKET_STATUS = '0';
        </script>
        <script charset="utf-8" type="text/javascript" src="http://www.fenqile.com/res/static/my/index.js?v=bfca40c7c20f8b3a6fe8bd90a20629b8"></script>
    </body>
</html>