{include file="header.html"}
<script type="text/javascript">
$(function(){
	var url = "{$site_url}/index.php?app=default&act=ajax_get_code_find_pwd&ajax";	
	var data = {step:'reg',phone_mob:$('#phone_mob').val()};
	code($('#btn_code_get'),url,data);
    $('#find_password_form').validate({
        errorPlacement: function(error, element){
          var error_td = element.parent('dd');
            error_td.find('label').hide();
            error_td.append(error);
        },
        success       : function(label){
            label.addClass('validate_right').text('OK!');
        },
        rules : {
            username : {
                required : true
            },
            email: {
                required:true,
                maxlength:6,
				minlength:6
            },
            captcha : {
                required : true,
                remote   : {
                    url : 'index.php?app=captcha&act=check_captcha',
                    type: 'get',
                    data:{
                        captcha : function(){
                            return $('#captcha1').val();
                        }
                    }
                }
            } 
        },
        messages : {
            username : {
                required : '{$lang.username_required}'
            },
            email: {
                required : '请输入验证码',
                maxlength:'验证码长度不能超过6位',
				minlength:'验证码长度不能少于6位'
            },
            captcha : {
                required : '{$lang.captcha_required}',
                remote   : '{$lang.captcha_error}'
            }
        }
    });
});
</script>
<style>
.w{width:95%;}
/*

	Supersized - Fullscreen Slideshow jQuery Plugin
	Version : 3.2.7
	Site	: www.buildinternet.com/project/supersized
	
	Author	: Sam Dunn
	Company : One Mighty Roar (www.onemightyroar.com)
	License : MIT License / GPL License
	
*/

* { margin:0; padding:0; }
body { background:#111; height:100%; }
	img { border:none; }
	
	#supersized {  display:block; position:fixed; left:0; top:0; overflow:hidden; z-index:-999; height:100%; width:100%; }
		#supersized img { width:auto; height:auto; position:relative; display:none; outline:none; border:none; }
			#supersized.speed img { -ms-interpolation-mode:nearest-neighbor; image-rendering: -moz-crisp-edges; }	/*Speed*/
			#supersized.quality img { -ms-interpolation-mode:bicubic; image-rendering: optimizeQuality; }			/*Quality*/
		
		#supersized li { display:block; list-style:none; z-index:-30; position:fixed; overflow:hidden; top:0; left:0; width:100%; height:100%; background:#111; }
		#supersized a { width:100%; height:100%; display:block; }
			#supersized li.prevslide { z-index:-20; }
			#supersized li.activeslide { z-index:-10; }
				#supersized li.image-loading img{ visibility:hidden; }
			#supersized li.prevslide img, #supersized li.activeslide img{ display:inline; }


#supersized img { max-width: none !important }

</style>
<div id="main" class="w-full">
<div id="page-find-password" class="w login-register mt20 mb20">
	<div class="w clearfix">    	
		<div class="col-sub">
      	<div class="form">
        	<div class="title">{$lang.find_password}</div>
            <div class="content">
        		<form action="" method="POST" id="find_password_form">
                	<dl class="clearfix">
                    	<dt>{$lang.your_username}</dt>
                        <dd>
                        	<input class="input" type="text" name="username" id="username" />
                            <div class="clr"></div><label></label>
                        </dd>
                    </dl>
               		<dl class="clearfix">
                		<dt>{$lang.phone_mob}</dt>
                    	<dd>
                    		<input type="text"  id="phone_mob"  name="phone_mob" title="输入手机验证码"  />
                        	 <div class="clr"></div><label></label>
                    	 </dd>
                	</dl>
					<dl class="clearfix">
                		<dt>手机验证码</dt>
                    	<dd>
                    		<input  class="input" style="width:120px;" id="code" placeholder="请输入验证码" maxlength="6" name="code" value="" type="text">	
							<a id="btn_code_get">获取验证码</a>
							<div class="clr"></div><label></label>
                    	 </dd>
                	</dl>
					{if $captcha}
              		<dl class="clearfix">
                  		<dt>{$lang.captcha}</dt>
                  		<dd class="captcha clearfix">
                     		<input type="text" class="input float-left" name="captcha" id="captcha1" />
                     		<img height="26" id="captcha" src="index.php?app=captcha&amp;{$random_number}" class="float-left" />
                            <a href="javascript:change_captcha($('#captcha'));" class="float-left">{$lang.next_captcha}</a>
                     		<div class="clr"></div><label></label>
                  		</dd>
               		</dl>
					{/if}
               		<dl class="clearfix">
                  		<dt>&nbsp;</dt>
                  		<dd class="clearfix">
                     		<input type="submit" class="fp-submit" name="Submit" value="{$lang.find_password}" title="{$lang.find_password}" />
                     		<input type="hidden" name="ret_url" value="{$ret_url}" />
                  		</dd>
               		</dl>
            		
         		{$hidden_value}</form>
         	</div>
      	</div>
	</div>
    </div>
</div>
</div>
{include file="footer.html"}
<script type="text/javascript" src="{res file=js/supersized.3.2.7.min.js}"></script>
<script type="text/javascript" src="{res file=js/supersized-init.js}"></script>