        
       
         <div class="detail-hot js-detail-silder">
		 
						<!--{if $smarty.get.app eq "goods"}-->
                        <div class="detail-hot-list">
                            <h3>{$lang.goods_history}</h3>
                            <ul>
								<!--{foreach from=$goods_history item=gh_goods}-->
								<li>
                                    <a href="{url app=goods&id=$gh_goods.goods_id}"><img src="{$gh_goods.default_image}"  alt="{$gh_goods.goods_name|truncate:20|escape}" width="51"></a>
                                    <p><a href="{url app=goods&id=$gh_goods.goods_id}" title="{$gh_goods.goods_name|truncate:20|escape}">{$gh_goods.goods_name|truncate:20|escape}</a></p>
                                </li>
								<!--{/foreach}-->    
							</ul>
                        </div>
						<!--{/if}-->
                       <!--  <div class="detail-hot-list">
                            <h3>热卖推荐</h3>
                            <ul>
                                <li>
                                    <a href="/product/detail/S201503265447.html"><img src="http://cres.fenqile.com/res/img/global/default_bg.png" data-original="http://cimg.fenqile.com/uploaded/product/image/20150326_353934837fab6aef173155.jpg" alt="卡姿兰Carslan经典初学彩妆9件套" width="51"></a>
                                    <p><a href="/product/detail/S201503265447.html" title="卡姿兰Carslan经典初学彩妆9件套">卡姿兰Carslan经典初学彩妆9件套</a></p>
                                </li>
                                    
							</ul>
                        </div> -->
        </div>
       
     