
{include file=header.html}
<link type="text/css" href="{res file=css/detail.css}" rel="stylesheet">
<link type="text/css" href="{res file=css/hzw-city-picker.css}" rel="stylesheet">
<style>
.top1 li{
   float:left;
   line-height:46px;
}
#fq_list li{
	margin-top:3px;
}
					
.goods_detail{
    background-color: #FFF;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
}
</style>
<div class="container">				
	
	{include file=member.curlocal.html}
	<div class="detail-info fn-clear">
                    <div class="detail-product">
                        <div class="detail-title">
                            <h1>{$goods.goods_name|escape}</h1>
                        </div>
                        <div class="fn-clear">                          
							<div class="ware_info"> 
								<div class="ware_pic">
									<div class="big_pic">
										<a href="javascript:;">
										<span class="jqzoom"><img src="{$goods._images.0.thumbnail|default:$default_image}" width="300" height="300" jqimg="{$goods._images.0.image_url}" /></span></a>
									</div>

									<div class="bottom_btn">
										<!--<a class="collect" href="javascript:collect_goods({$goods.goods_id});" title="{$lang.add_to_favorite}"></a>-->
										<div class="left_btn"></div>
										<div class="right_btn"></div>
										<div class="ware_box">
											<ul id="thumb_list">
												<!--{foreach from=$goods._images item=goods_image name=fe_goods_image}-->
												<li {if $smarty.foreach.fe_goods_image.first}class="ware_pic_hover"{/if} bigimg="{$goods_image.image_url}"><img src="{$goods_image.thumbnail}" width="52" height="51" /></li>
												<!--{/foreach}-->
											</ul>
										</div>
									</div>
									<script>
										$(function(){
											var btn_list_li = $("#btn_list > li");
											btn_list_li.hover(function(){
												$(this).find("ul:not(:animated)").slideDown("fast");
											},function(){
												$(this).find("ul").slideUp("fast");
											});
										});
									</script>
									<!-- {if $share} -->
									<ul id="btn_list">
										<li id="btn_list1" title="{$lang.collect_goods}">
											<ul class="drop_down">
												<!-- {foreach from=$share item=item} -->
												<!-- {if $item.type eq 'collect'} --><li><!-- {if $item.logo} --><img src="{$item.logo}" /><!-- {/if} --><a target="_blank" href="{$item.link}">{$item.title|escape}</a></li><!-- {/if} -->
												<!-- {/foreach} -->
											</ul>
										</li>
										<li id="btn_list2" title="{$lang.share_goods}">
											<ul class="drop_down">
												<!-- {foreach from=$share item=item} -->
												<!-- {if $item.type eq 'share'} --><li><!-- {if $item.logo} --><img src="{$item.logo}" /><!-- {/if} --><a target="_blank" href="{$item.link}">{$item.title|escape}</a></li><!-- {/if} -->
												<!-- {/foreach} -->
											</ul>
										</li>
									</ul>
									<!-- {/if} -->
								</div>
							</div>
      
							<div class="detail-text">
                                <div class="detail-form">
                                    <table class="detail-form-table">
                                        <tbody>	   
                                           
											<span style="display:none;" class="spec-tip">请选择完整规格!</span>
																					
											<!--{if $goods.spec_qty gt 0}--> 
											<ul class="spec_1 top1">
                                                <li class="td1 handle_title">{$goods.spec_name_1|escape}：</li>
											
                                            </ul>
											<!--{/if}-->
                                            <!--{if $goods.spec_qty gt 1}-->                                                                                                                                                                  
											<ul class="spec_2 top1">
												 
												  
                                                <li class="td1 handle_title">{$goods.spec_name_2|escape}：</li>
												
                                            </ul>
											<!--{/if}-->
										   <td style="" colspan="2">
										   <style>.detail-sel-list .solid{border: 1px solid #FF4000} </style>
										   <!-- 库存提示 [[-->
                                                   
													 
												    <div class="last-top">
                                                       
                                                        <div class="fn-left">
                                                            <!-- 库存提示 [[-->
                                                            <!--预约商品 在预约结束前都显示无货-->
                                                            <div class="detail-have "  style="<!--{if !$goods._specs.0.stock}-->display:none; <!--{/if}-->" id="have_goods">
                                                                <strong class="c-blue">现货</strong>，审核完成后预计2-3天内送达
                                                            </div>
                                                            <div class="detail-have <!--{if $goods._specs.0.stock}-->fn-hide<!--{/if}-->"   id="no_goods">
                                                                <strong class="c-red">暂时无货</strong>
                                                            </div>
                                                            <!-- 库存提示 ]]-->
                                                        </div>
                                                    </div>
													
                                                    <!-- 库存提示 ]]-->
                                            </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="detail-price js-sku-off fn-hide">
                                        <div class="offshelf">
                                            <img src="http://cres.fenqile.com/res/img/detail/off.jpg" alt="下架" width="75" height="167">
                                            <p>亲爱的同学，您来晚一步了！</p>
                                            <p><strong>所选商品已经下架！</strong></p>
                                            <a href="/product/index.html">&gt;&gt;查看更多类似商品</a>
                                        </div>
                                    </div>
                                    <div class="detail-price js-sku-item ">
										<div class="detail-hui-text" id="timer_wrap" data-begin="2015/09/30 15:17:56" data-end="2015/09/30 23:59:59">
										<span>剩
										<strong class="c-red" ectype='goods_stock'  id="sku_num">
											{$goods._specs.0.stock}
										</strong>件
										</span>                                    
										</div>
                                            
                                        <table class="detail-form-table" id="free_tip_ctrl" data-cls="on">
                                            <tbody>
                                                <tr>
                                                    <td class="td1">售价：</td>
                                                    <td>
                                                        <span class="fn-rmb">
														<span id="amount" ectype='goods_price'>{$goods._specs.0.price|price}</span>
														</span>
                                                    </td>   
													
													 <!--{if $goods.show_market_price != 0}-->
												    <td>
														 <span class="hui-jiang"><em class="b1"></em>
														 <span class="a1">降<span class="fn-rmb">¥<span id="reduce_amount"></span></span>元</span></span>
                                                    </td>
													
													<td class="td1">市场价： 
													<del>
														<span class="fn-rmb">
															<span id="mart_amount">{$goods._specs.0.market_price|price}</span>
														</span>
													</del>
                                                    </td>
                                                   <!--  <td>
                                                    <del><span class="fn-rmb"><span id="mart_amount">{$goods._specs.0.market_price|price}</span></span></del>
                                                    </td> -->
													<!--{/if}-->
                                                </tr>
												 
                                                <tr id="mon_sf">
                                                    <td class="td1" style="width:100px;">首付比例：</td>
                                                    <td  style="width:100px;">
														<select id="sf" method="percent" class="form-control"style="width:75px;" >
															<!-- <option value="0">零首付</option>
															<option value="5">5%</option>
															<option value="10">10%</option> -->
														 </select>
                                                        
                                                    </td>
                                                    <td class="td1" style="width:100px;" >分期月数：</td>
                                                    <td style="width:400px;">
													
                                                        <ul class="detail-sel-list detail-sel-month" id="fq_list">
                                                           
                                                        </ul>
                                                    </td>
													<span id="tip_month" style="color:red;font-size:15px;">月数必选!</span>
													
                                                </tr>
												
                                                <tr class="">
                                                    <td class="td1" >首付金额：</td>
                                                    <td><span class="fn-rmb">¥<strong class="c-red" id="firstpay">0</strong></span></td>
                                                    <td class="td1" >月供金额：</td>
                                                    <!-- 当出现服务费说明文案时，在下面的td加上class="td-mon" -->
                                                    <td>
                                                        <span class="fn-rmb">¥<strong class="c-blue" id="mon_fee">251</strong></span>
														<span style="font-size:16px;">= </span>
														（本金<span class="fn-rmb">¥<span id="capital"></span></span><span style="font-size:14px;">
														+ </span>服务费至<span class="fn-rmb">¥<span id="fee">47</span></span></span>）
                                                      
                                                        <!--<img src="http://cres.fenqile.com/res/img/global/tip.png" width="13" height="13" class="free-tip" data-content="分期金额（售价-首付）3千元内，分期月数12月内，即享服务费全免" role="tips" data-placement="bottom" data-position="right" />-->
                                                    </td>
                                                    <!-- end -->
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="detail-btn js-sku-item ">
                                        <a href="javascript:collect_goods({$goods.goods_id});" class="fn-right" id="btn_favorite" data-sku-id="S201503034850" data-type="0">收藏</a>
										<!-- #立即抢购 -->
																			
						
                                        <button class="btn " onclick="buy_now();" style="<!--{if !$goods._specs.0.stock}-->display:none; <!--{/if}-->"   id="btn_buy">
											<span class="i-d-time"></span>
											<span class="js-buy-text" >立即抢购</span>
										</button>
                                       
								<button class="btn fn-hide" data-disabled="1" id="btn_book"><span class="i-d-time"></span><span class="js-buy-text">我要预约</span></button>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
				<div class="fn-clear">
                    <div class="detail-intro">
                        <div class="detail-tab">

                            <!-- 商品详情 -->
                            <div class="tab-body js-tab-body" id="tab_detail">
                                <div class="parameters">
                                    <!-- <h3>产品参数：</h3> -->
                                    <ul class="fn-clear">
                                        <!--{if $goods.goods_name != ''}--> 
										<li style="width:460px;">产品名称：{$goods.goods_name|escape}</li>
										<!--{/if}-->
                                        <!--{if $goods.brand != ''}-->
										<li style="width:150px;"> 品牌：{$goods.brand|escape}</li>
										<!--{/if}-->
										<!--{if $goods.cate_name != ''}--> 
                                        <li style="width:200px;">分类：{$goods.cate_name|escape}</li>
										<!--{/if}-->
                                    </ul>
                                </div>
                               
                                <div class="product-msg">
                                    <h2 id="func_detail" class="title">
                                        商品详情
                                        <span class="green-bg"></span>
                                    </h2>
                                    <div class="msg" style="overflow:hidden;">
                                        <div class="__kindeditor_paste__" style="text-align:center;">
											{$goods.description|escape:editor}
										</div>
									</div>
                                </div>
                            </div>
                            <!-- 商品详情 -->
                            
                            <!-- 售后保障 -->
                            <div class="tab-body js-tab-body fn-hide" id="tab_sale">
                                <div>
                                    <div class="top-title">51分期承诺</div>
                                    <div class="top-title-text fn-clear">
                                        <div class="i-safe-dl2"> <i class="i-safe-tree5"></i>
                                            <dl>
                                                <dt>行货正品</dt>
                                                <dd>51分期销售商品均由供应商或供销商提供，保证行货正品。</dd>
                                            </dl>
                                        </div>
                                        <div class="i-safe-dl2"> <i class="i-safe-tree6"></i>
                                            <dl>
                                                <dt>保护权益</dt>
                                                <dd>
                                                    当用户向厂家或供应商争取相关权益及应有服务时，51分期会在用户需要的第一时间提供有关的联系及协调服务，协助用户维护自己应有的权益。
                                                </dd>
                                            </dl>
                                        </div>
                                        <div class="i-safe-dl2">
                                            <i class="i-safe-tree7"></i>
                                            <dl>
                                                <dt>修养保障</dt>
                                                <dd>
                                                    51分期销售商品均可享受原厂保修或供应商提供的更换、维修和保养服务；厂家和供应商有责任履行相应责任及义务，为用户提供相应的保修、更换、维修和保养服务。
                                                </dd>
                                            </dl>
                                        </div>
                                        <div class="i-safe-dl2">
                                            <i class="i-safe-tree8"></i>
                                                <dt>正规发票</dt>
                                            <dl>
                                                <dd>51分期将在用户还款3期后开具购物发票作为客户的质保凭证，请顾客自行保留原件作为后续质保之需。</dd>
                                            </dl>
                                        </div>
                                    </div>
                                    <div class="top-title">保障时效</div>
                                    <div class="top-title-text">
                                        <p>所购产品如出现国家三包所规定的性能故障，经由厂商指定或特约维修点确认故障确实。售后保障时效如下:</p>
                                        <ul class="safe-tree-ul fn-clear">
                                            <li>
                                                <i class="i-safe-tree1"></i>
                                                <p>
                                                    商品自签收之日起7日内
                                                    <br>您可以选择退货、换货或修理</p>
                                            </li>
                                            <li>
                                                <i class="i-safe-tree2"></i>
                                                <p>
                                                    商品自签收第8日至第15日内
                                                    <br>您可以选择换货或者免费保修</p>
                                            </li>
                                            <li>
                                                <i class="i-safe-tree3"></i>
                                                <p>
                                                    商品自签收超过15日并在保修期内
                                                    <br>您可以享受免费保修</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="top-title">保修说明</div>
                                    <div class="top-title-text">
                                        <div class="i-safe-dl">
                                            <i class="i-safe-tree4"></i>
                                            <dl>
                                                <dt>申请退换货及保修时，请根据您申请类型，准备以下附件材料</dt>
                                                <dd>
                                                    退货：产品完整包装，产品完整附件，检测单，身份证复印件
                                                    <br>
                                                    换货：产品完整包装，产品完整附件，检测单，身份证复印件
                                                    <br>保修：发票复印件，产品完整附件，身份证复印件，前往当地维修站进行处理</dd>
                                                <dd class="dd2">如您需要帮助请联系51分期 联系电话：400-005-9151 （服务时间：周一至周日 9:00-23:00）</dd>
                                            </dl>
                                        </div>
                                    </div>
                                    <div class="top-title">权利声明</div>
                                    <div class="top-title-text">
                                        <p>51分期上的所有商品信息、客户评价、商品咨询、网友讨论等内容，是51分期重要的经营资源，未经许可，禁止非法转载使用。</p>
                                        <p>
                                            注：本站商品信息均来自于厂商，其真实性、准确性和合法性由信息拥有者（厂商）负责。本站不提供任何保证，并不承担任何法律责任。
                                        </p>
                                    </div>
                                    <div class="top-title">特别声明</div>
                                    <div class="top-title-text">
                                        <p>
                                            因厂家会在没有任何提前通知的情况下更改产品包装、产地或者一些附件，51分期不能确保客户收到的货物与商城图片、产地、附件说明完全一致。
                                        </p>
                                        <p>只能确保为原厂正货！并且保证与当时市场上同样主流新品一致。若51分期商城没有及时更新，请大家谅解！</p>
                                    </div>
                                </div>
                            </div>
                             <!-- 售后保障 -->
                        </div>

                    </div>
					{include file=left.html}
                </div>		
</div>

<div id="allmap" style="display:none;"></div>
<script type="text/javascript" src="{lib file=goodsinfo.js}"></script>
<script type="text/javascript" src="{lib file=json2.js}"></script>

<script type="text/javascript">
	var specs = new Array();
	<!--{foreach from=$goods._specs item=spec}-->
	specs.push(new spec({$spec.spec_id}, '{$spec.spec_1|escape}', '{$spec.spec_2|escape}', {$spec.price},{$spec.market_price}, {$spec.stock},'{$spec.fq_list}',{$spec.service_fee},"<!--{if $spec.spec_img}-->{$spec.spec_img}<!--{else}-->{$goods.default_image}<!--{/if}-->"));
	<!--{/foreach}-->
	result['total_service'] = {$goods._specs.0.service_fee};
	var specQty = {$goods.spec_qty};
	var defSpec = {$goods.default_spec|escape};
	var goodsspec = new goodsspec(specs, specQty, defSpec);
	var sf_list = '{$goods.sf|escape}';
	
</script>
{include file=footer.html}
<!-- <div class="adress-sel adress-sel-sm fn-left">
	<div class="adress-sel-text" id="region" data-province-id="1" data-city-id="2">
		<span id="region_name">广东省广州市</span>
		<i class="adress-sel-sj"></i>
	</div>
	<div id="region_145018497079139034">
		<div class="door-select" data-region="main">    
			<a href="javascript:void(0);" class="door-close" data-region="close" title="关闭"></a> 
			<ul class="adress-list-top fn-clear" data-region="region-nav">      
				<li>          
				<a href="javascript:void(0);" data-region="province" data-pid="0" data-id="1">广东省</a>        </li>       
				<li class="on">          
				<a href="javascript:void(0);" data-region="city" data-pid="1" data-id="2">广州市</a>     
				</li>    
			</ul> 
			<ul class="fn-clear li-a" data-region="region-list">    
				<li>  <a href="javascript:void(0);" class="on" data-id="2" data-pid="1" data-time="2">广州市</a>    </li>   
				<li>  <a href="javascript:void(0);" class="" data-id="142" data-pid="1" data-time="2">深圳市</a>    </li>   
				<li>  <a href="javascript:void(0);" class="" data-id="1063" data-pid="1" data-time="2">珠海市</a>    </li>    
				<li>  <a href="javascript:void(0);" class="" data-id="844" data-pid="1" data-time="2">东莞市</a>    </li>    
				<li>  <a href="javascript:void(0);" class="" data-id="775" data-pid="1" data-time="2">佛山市</a>    </li>   
				<li>  <a href="javascript:void(0);" class="" data-id="1066" data-pid="1" data-time="2">韶关市</a>    </li>    
			</ul>
		</div>
	</div>
</div> -->