{include file=member.header.html}
<style>	
	.content1 ul{
		list-style:none;
		padding:0;
	}
	.content1 ul li{
		float:left;
	}
	.content1 .radio_both{		
		clear:both;
	}
	
</style>

<script type="text/javascript">

$(function(){
    $('#add_time_from').datepicker({dateFormat: 'yy-mm-dd'});
    $('#add_time_to').datepicker({dateFormat: 'yy-mm-dd'});
    $('.checkall_s').click(function(){
        var if_check = $(this).attr('checked');
        $('.checkitem').each(function(){
            if(!this.disabled)
            {
                $(this).attr('checked', if_check);
            }
        });
        $('.checkall_s').attr('checked', if_check);
    });
    $('a[ectype="batchcancel"]').click(function(){
        if($('.checkitem:checked').length == 0){
            return false;
        }
        if($(this).attr('presubmit')){
            if(!eval($(this).attr('presubmit'))){
                return false;
            }
        }
        var items = '';
        $('.checkitem:checked').each(function(){
            items += this.value + ',';
        });
        items = items.substr(0, (items.length - 1));

        var uri = $(this).attr('uri');
        uri = uri + '&' + $(this).attr('name') + '=' + items;
        var id = 'seller_order_cancel_order';
        var title = $(this).attr('dialog_title') ? $(this).attr('dialog_title') : '';
        //var url = $(this).attr('uri');
        var width = '500';
        ajax_form(id, title, uri, width);
    });
});
</script>
<div class="content">
    {include file=member.menu.html}
    <div id="right">
    	{include file=member.curlocal.html}
    	{include file=member.submenu.html}
        <div class="wrap">
     	<div class="public_index table">
                <table>
                	<tr class="line_bold">
                        <th colspan="8">
                            <div class="search_order clearfix">
                				<form method="get" class="clearfix">
               						<div style="float:left;">
                						<span class="title">{$lang.realname}:</span>
                						<input class="text_normal" type="text" name="realname" value="" />                						
										 <span class="title">用户名:</span>
                						<input class="text_normal" type="text" name="user_name" value="" />                						
										 
										<span class="title">{$lang.phone_mob}:</span>
                						<input class="text_normal" type="text" name="phone_mob" value="" />
                						<input type="hidden" name="app" value="member_manage" />
                						<input type="hidden" name="act" value="index" />
                						<input type="hidden" name="type" value="{$type}" />
                						<input type="submit" class="btn" value="{$lang.search}" />
                					</div>                					
									{$hidden_value}
								</form>
        					</div>
                        </th>
                    </tr>
                	<tr class="sep-row" height="20"><td colspan="8"></td></tr>
                    <tr class="line gray">
                        <th>{$lang.user_name}</th>
                        <th>{$lang.realname}</th>
                        <th>{$lang.car_id}</th>
						<th>{$lang.user_type}</th>
						<th>{$lang.phone_mob}</th>
                        <th>{$lang.reg_time}</th>                        
                        <th  >{$lang.rec_status}</th>
						<th>操作</th>
                    </tr>
                    <!--{if $members}-->
                    <tr class="sep-row"><td colspan="8"></td></tr>
                    <tr class="operations">
                        <th colspan="8">
                           <!--  <p class="position1 clearfix">
                            	<input type="checkbox" id="all" class="checkall"/>
                        		<label for="all">{$lang.checkall}</label>
                            	<a href="javascript:;" class="delete" ectype="batchcancel" uri="index.php?app=seller_order&act=cancel_order" name="order_id">{$lang.cancel_order}</a>
                            </p> -->
                            <p class="position2 clearfix">
                                {include file=member.page.top.html}
                            </p>
                        </th>
                    </tr>
                    <!--{/if}-->
                    
                    <!-- 循环开始 -->
                    
                    <!--{foreach from=$members item=member name=fe_goods}-->
					<!--{if $member.privs != 'all'} -->
					 <tr class="sep-row"><td colspan="8"></td></tr>
                    <tr class="line-hd">
                    	<th colspan="8">
                        	<p>
                            	
                            </p>
                        </th>
                    </tr>
				
						<tr class="line<!--{if $smarty.foreach.fe_goods.last}--> last_line<!--{/if}-->">
							<td valign="top" class="first clearfix">
								{$member.user_name|default:-}
							</td>					
							
							<td valign="top" class="align2">{$member.realname|default:-}</td>
							<td valign="top" class="align2"><strong>{$member.car_id|default:-}</strong></td>
							<td valign="top" class="align2">
							
						 
								{$member.user_role|default:-}
							</td> 
							 <td valign="top" class="align2 bottom-blue">
								{$member.phone_mob|default:-}
							</td>
							<td valign="top"class="align2 bottom-blue">
								
								{$member.reg_time|date:Y-m-d i:i:s}
							</td>
							<td valign="top" class="align2 bottom-blue" >
							{$member.rec_stage|default:-}
							</td>
							<td valign="top"   width="54" class="align2 bottom-blue last" >
							<!--//查看详情-->
						   
							<!--{if $member.privs != 'all'} -->
								<a class="btn btn-primary" style="border-radius:2px;display:block;margin-bottom:5px;" href="{url app=member_manage&act=view&user_id=$member.user_id}" 
								>审核</a>
								<a class="btn btn-primary" style="border-radius:2px;display:block;margin-bottom:5px;"  href="javascript:;" class="btn-order-status-received-firstpay" ectype="dialog"
								dialog_title="冻结操作" dialog_id="dongjie_user" 
								uri="index.php?app=member_manage&act=dongjie&user_id={$member.user_id}&ajax" 
								dialog_width="400" id="dongjie_user">冻结
								</a>
							<!--{/if} -->
													
							</td>
						
						</tr>
                   <!--{/if} -->
                    <!--{foreachelse}-->
                    <tr><td class="member_no_records" colspan="8">{$lang.no_records}</td></tr>
                    <!--{/foreach}-->
                    <!--{if $members}-->
                    <tr class="sep-row">
                        <td colspan="8"></td>
                    </tr>
                    <tr class="operations">
                        <th colspan="8">
                            <p class="position1 clearfix">
                             </p>
                            <p class="position2 clearfix">
                                {include file=member.page.bottom.html}
                            </p>
                        </th>
                    </tr>
                    <!--{/if}-->
                    </table>
                    <iframe name="seller_order" style="display:none;"></iframe>
        </div>
    
    </div>
</div>
</div>
<div class="clear"></div>
</div>
{include file=footer.html}

