{include file=member.header.html}
<style type="text/css">
.bgwhite { background: #FFFFFF; }
</style>
<script type="text/javascript">
$(function(){
    $('#password_form').validate({
        errorPlacement: function(error, element){
            $(element).next('.field_notice').hide();
            $(element).after(error);
        },
        success       : function(label){
            label.addClass('validate_right').text('OK!');
        },
        rules : {
            orig_password : {
                required : true
            },
            new_password : {
                required   : true,
                minlength  : 6,
                maxlength  : 20
            },
            confirm_password : {
                required   : true,
                equalTo    : '#new_password'
            }
        },
        messages : {
            orig_password : {
                required : '{$lang.orig_password_empty}'
            },
            new_password  : {
                required   : '{$lang.no_pass}',
                minlength  : '{$lang.password_length_limit}'
            },
            confirm_password : {
                required   : '{$lang.no_pass}',
                equalTo    : '{$lang.twice_pass_not_match}'
            }
        }
    });
});
</script>
<style>
.borline td { padding:10px 0px; }
.ware_list th { text-align:left; }
</style>
<div class="content">
    {include file=member.menu.html}
    <div id="right">
        {include file=member.curlocal.html}
		<link type="text/css" rel="stylesheet" href="{res file=css/safety.css}"/>
		
			<div class="security">
				<h1>修改登录密码</h1>
				<div class="phonemod">
					<form  method="post" id="password_form">
						
						<div class="center-input">
							<label class="label">{$lang.orig_password}:</label>
							<input type="password" class="input_css flex-box text" name="orig_password" />
							
						</div>
						<div class="center-input">
							<label class="label">{$lang.new_password}:</label>
							<input type="password" class="input_css flex-box text" name="new_password" id="new_password" />
							
						</div>
						<div class="center-input">
							<label class="label">{$lang.confirm_password}:</label>
							<input type="password" class="input_css flex-box text" name="confirm_password" />
							
						</div>
						
						<div class="btns">
							<label class="label">&nbsp;</label>
							<input class="submit" value="确认" type="submit">
						</div>
					{$hidden_value}</form>
					<a href="/appeal/0" class="service"><span style="color:#ff4000;">无法接验证码？通过客服修改手机号</span></a>
				</div>
			</div>

    </div>
    <div class="clear"></div>
</div>
{include file=footer.html}
