{include file=member.header.html}
<style>.width_normal{width:480px;}</style>
{$build_editor}
<div class="content">
    <div class="totline"></div>
    <div class="botline"></div>
    {include file=member.menu.html}
    <div id="right"> {include file=member.submenu.html}
        <div class="wrap">
            <div class="public">
                <div class="information">
                    <div class="setup info shop">
                        <form method="post"  id="my_wxconfig_form">
			

                            <table style="width: 100%">
                                
                                <tr>
                                    <th class="width2">first</th>
                                    <td>
                                        <p class="td_block"><input type="text" class="text width_normal" name="first" value="{$wx_config.url|escape}" style="width:480px;" /></p>
                                        
                                    </td>
                                </tr>
								<tr>
									<td colspan="2">
										<div id="demo1">										
											<!-- <tr>
												<th>keyword2：</th>
												<td>
													<p class="td_block"><input type="text" name="keyword2" class="text width_normal"  /></p>
												 
												</td>
											</tr> -->
										</div>
									</td>
									
								</tr>
                                
								<tr>
                                    <th>remark：</th>
                                    <td>
                                        <p class="td_block">
											<textarea class="form-control" rows="50" cols="69" name="remark" id="remark" placeholder="" ></textarea>
									    </p>
                                     
                                    </td>
                                </tr>
								<tr>
                                    <th>跳转url：</th>
                                    <td>
                                        <p class="td_block"><input  type="text" name="url" placeholder="请填写用户点击消息之后跳转的网址" class="text width_normal"  /></p>
                                     
                                    </td>
                                </tr>
								<tr>
                                    <th>发送之前是否测试：</th>
                                    <td>
                                        <input type="checkbox" name="must_test" value="1" />
                                      <label style="" class="input_right_tip">发送之前测试，能够提高发送成功率</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="issuance"><input type="submit" class="btn" value="{$lang.submit}" /></div>
                                    </td>
                                </tr>
                            </table>
                        {$hidden_value}</form>
                    </div>
                </div>
            </div>
            <div class="wrap_bottom"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
{include file=footer.html}
{lib file=jquery.EasyInsert-4.0.min.js}
<script type="text/javascript">
$(function(){
	$("#demo1").easyinsert();//最简单的应用
	
});
</script>